body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background: radial-gradient(circle at center, white 30%, #ffaab8 70%);
}

.center-container {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    position: absolute;
    top: 20px; 
    font-family: 'Pacifico', cursive;
    font-size: 60px;
}


canvas {
    max-width: 100%; 
    height: auto;
}

@media (max-width: 768px) {
    h1 {
        font-size: 30px; 
        top: 100px;
    }

    img {
        height: 52px;
        width: 52px;
    }
    
    canvas{
        height: 130px;
        width: 130px;
    }
}

